.cardDetails {
  height: 90vh;
  width: 100%;
  display: flex;
  background-color: #282c34;
  justify-content: center;
  align-items: center;
}

.movie-backdrop {
  height: 90%;
  width: 95%;
  object-fit: cover;
  box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.75)
}

.movie-details-wrapper{
  background-color: rgba(0, 0, 0, 0.5);
  height: 81%;
  width: 95%;
  z-index: 1;
  position: absolute;
  display:flex;
  justify-content: space-around;
}

.movie-poster {
  height: 100%;
}

.movie-info-wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
}

.movie-title {
  font-size: 2em;
}

p {
  font-size: 1.25em;
}

.fav-btn-wrapper {
  font-size: 1.25em;
  border: none;
  width: 200px;
  border-radius: 5px;
  color: black;
  margin: 0px auto;
  &:hover {
    background-color: #BC8F8F;
    color: white;
  }
}

.back-btn {
  font-size: 1.25em;
  border: none;
  width: 200px;
  border-radius: 5px;
  &:hover {
    color: white;
    background-color: #BC8F8F;
  }
}