header {
  height: 10vh;
  background-color:lightblue;
}

.header-title {
  margin: 0;
}

.nav-btn {
  font-size: 1.25em;
  border: none;
  width: 200px;
  border-radius: 5px;
}

.header-btn-wrapper {
  display: flex;
  justify-content: space-around;
}